#contact-field:hover,#contact-field:focus{
	box-shadow: none;
}
#contact-field{
	padding: 10px;
	margin-bottom: 35px;
	border: none;
	border-bottom: 1px solid #f2f2f2;
	background-color: #f8f9fa;
}
#contact-btn:hover{
	background-color: #f2f2f2 !important;
	transition: ease all 1s;
	color: black !important;
}